:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --link-nav-color: #212121;
  --primary-white-color: #ffffff;
  ---color-text-for-h: #212121;
}

body {
  background: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: var(---color-text-for-h);
}

li {
  list-style: none;
  
}
a {
    text-decoration: none;
}
p {
    font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.logo {
  color: var(--title-text-color);
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo .style-logo {
  color: var(--accent-color);
}

.list {
  list-style: none;
}




/* site-nav */

.site-nav .link {
  color: var(--link-nav-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero-title {
  color: var(--title-text-color);
}

/* Sectio */
.section .section-title {
  color: var(--title-text-color);
}

/* Button */
.button {
  font-family: inherit;
}
.button:hover,
.button:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

/* Portfolio-nav */
.portfolio-nav {
  background: #f5f4fa;
}
/* Portfolio-section-title */
.portfolio-section-title {
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(---color-text-for-h);
}